$breakpoint-mobile: 768px;
$theme-main: #FEA47F;
$theme-loading-color: #eee;

@import "reset.scss";
@import "main.scss";
@import "header.scss";
@import "footer.scss";

// CART STYLES
@import "cart.scss";
@import "cart-qty.scss";
@import "cart-overlay.scss";

// PRODUCT STYLES
@import "products/product.scss";
@import "products/product-details.scss";