.checkout {
	display: flex;

	.cart {
		width: 35%;
		background: #FFF;
		border-right: 1px solid #eee;
		min-height: 100vh;

		img.logo {
			text-align: center;
			width: 150px;
			height: 150px;
			display: block;
			margin: 40px auto;
		}

		.cartlist {
			.product {
				display: flex;

				.image {
					flex: 0 0 50px;
				}

				.details {
					flex-grow: 1;

					h2 {
						margin-bottom: 5px;
					}
					.quantity {
						.qty {
							display: inline-block;
						}
					}
				}
				
				.price {
					flex: 0 0 100px;
					text-align: center;
					border-left: 1px dotted #eee;

					.oldprice {
						display: block;
						font-size: 18px;
						text-decoration: line-through;
					}
					.onsale {
						display: block;
						font-size: 18px;
					}

					.discount {
						display: block;
						font-size: 14px;
						margin-top: 10px;
					}
				}
			}
		}

	}
	.payment {
		width: 65%;
		background: #82D8D8;
	}
}


