.checkout {
	display: flex;

	.cart {
		flex: 0 0 450px;
		background: #FFF;
		border-right: 1px solid #eee;
		min-height: 100vh;

		img.logo {
			text-align: center;
			width: 150px;
			height: 150px;
			display: block;
			margin: 40px auto;
		}

		.cartlist {
			padding: 0px 15px;
			margin-top: 100px;

			.product:first-child {
				border-top: 1px dotted #eee;
			}

			.product {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 15px 0px;
				border-bottom: 1px dotted #eee;

				.image {
					flex: 0 0 75px;
					margin-right: 15px;
				}

				.details {
					flex-grow: 1;

					h2 {
						margin-bottom: 5px;
						font-size: 14px;
					}

					.quantity {
						.qty {
							display: inline-block;
						}
					}
				}
				
				.price {
					flex: 0 0 75px;
					border-left: 1px dotted #eee;
					text-align: center;

					.oldprice {
						display: block;
						font-size: 12px;
						text-decoration: line-through;
					}
					.onsale {
						display: block;
						font-size: 14px;
						font-weight: bold;
						color: #0DBC79;
					}
				}
			}

			.total {
				text-align: center;
				width: 75px;
				float: right;
				padding-top: 15px;

				.fullprice {
					text-decoration: line-through;
					font-size: 14px;
				}

				.saleprice {
					font-size: 20px;
					font-weight: bold;
					color: #0DBC79;
				}
			}
		}

	}
	.payment {
		flex-grow: 1;
		background: #74b9ff;

		.step {
			margin: 0px auto;
			display: block;
			width: 500px;
			text-align: center;
			padding-top: 200px;
			
			h2 {
				font-size: 32px;
				margin-bottom: 15px;
				color: #FFF;
			}
			p {
				color: #FFF;
			}
			.button {
				margin-top: 25px;
			}

			.split {
				display: flex;

				input {
					flex: 0 0 50%;
				}
			}
		}
	}
}


