footer {
    margin-top: 40px;
    background: #414141;
        
    @media all and (max-width: $breakpoint-mobile) {
        margin-bottom: 66px;

        &.no-mobile-cart {
            margin-bottom: 0px;
        }
    }

    .container-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .actions {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 1200px;
            margin: 0px auto;
            padding: 0px 30px;
            
            a {
                flex-grow: 1;
                color: #FFF;
                text-decoration: none;
                border-left: 1px solid #fff;
                border-left-color: rgba(255,255,255,0.2);
                padding: 5px 0px;
                margin: 30px 0px;
                display: block;
                text-transform: uppercase;
    
                &:first-child {
                    border-left: 0px;
                }
            }
        }

        &.legal-container {
            background: #333;
        }
        .legal {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 1200px;
            margin: 0px auto;
            padding: 0px 30px;
                
            @media all and (max-width: $breakpoint-mobile) {
                flex-wrap: wrap;
            }

            .column {
                flex: 1 0 auto;
                padding: 15px 0px;
                
                @media all and (max-width: $breakpoint-mobile) {
                    flex: 100%;
                }

                &.copyright {
                    text-align: left;

                    @media all and (max-width: $breakpoint-mobile) {
                        display: none;
                    }
                }

                &.links {
                    text-align: right;

                    @media all and (max-width: $breakpoint-mobile) {
                        text-align: center;
                    }
                }

                p, a {
                    color: #FFF;
                    font-size: 12px;
                    margin: 0px;
                    padding: 0px;
                }
                a {
                    margin-left: 15px;
                }
            }
        }
    }
}