header {
    padding: 0px;   
    background: #0f8a9d;
    background: linear-gradient(57deg, #00C6A7 0%, #1E4D92 100%);
    margin-bottom: 30px;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 10;
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        
        @media all and (max-width: $breakpoint-mobile) {
            flex-wrap: wrap;
        }
        
        .column {
            flex: 1 0 auto;

            @media all and (max-width: $breakpoint-mobile) {
                display: none;
            }
        }
        .column.logo {
            flex: 1 0 auto;

            @media all and (max-width: $breakpoint-mobile) {
                flex: 0 0 100%;
                display: block;
                text-align: center;
            }

            img {
                height: 42px;
            }
        }
        .column.nav {
            text-align: right;

            .overview {
                border-radius: 15px;
                font-size: 14px;
                background: #FFF;
                color: #333;
                padding: 10px 30px;
                display: inline-block;
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}

.mobile-cart {
    display: none;

    @media all and (max-width: $breakpoint-mobile)
    {
        display: block;
        padding: 0px;   
        background: #0f8a9d;
        background: linear-gradient(57deg, #00C6A7 0%, #1E4D92 100%);
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #FFF;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 10;
    }
}