

header {
    padding: 15px 0px;
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .column {
            flex: 1 0 25%;
        }
        .column.logo {
            flex-grow: 0;

            img {
                width: 128px;
                height: 128px;
            }
        }
        .column.nav {
            nav {
                text-align: right;

                ul {
                    li {
                        display: inline-block;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}