@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$black: #333;

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6 {    
    margin-top: 0px;
    margin-bottom: 30px;
}

h1 {
    font-weight: bold;
    font-size: 42px;
}

p {
    color: $black;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;

    &.large {
        font-size: 18px;
        margin-bottom: 30px;
    }
}

button, .button {
    background: $black;
    border: 0px;
    border-radius: 5px;
    padding: 15px 30px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

    &:hover {
        background: #333;
    }
}

input {
    height: 50px;
    width: 320px;
    max-width: 100%;
    font-size: 16px;
    color: #888;
    border: 0px;
    box-shadow: none;
    display: block;
    margin: 0px auto 15px auto;
    padding: 0px 15px;
    border-radius: 5px;
}
.hide {
    display: none !important;
}

/*** CONTAINERS ***/
.container {
    width: 100%;
    max-width: 1200px;
    display: block;
    padding: 0px 15px;
    margin: 0px auto;
}

/*** LOADING ***/
.loading {
    display: block;
    margin: 0px auto;
    text-align: center;
}