@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$black: #333;

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
    margin: 0px auto;
    background: #eee;
    overflow-x: hidden;
    overflow-y: auto;
}

#__next {
    background: #FFF;
}

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {    
    margin-top: 0px;
    margin-bottom: 30px;
}

h1 {
    font-weight: bold;
    font-size: 42px;

    @media all and (max-width: $breakpoint-mobile) {
        font-size: 32px;
    }
}

p {
    color: $black;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;

    &.large {
        font-size: 18px;
        margin-bottom: 30px;
    }
}

button, .button {
    background: $theme-main;
    border: 0px;
    border-radius: 5px;
    padding: 15px 30px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 2s ease;

    &:hover {
        opacity: 0.8;
    }
}

input {
    height: 50px;
    width: 100%;
    font-size: 16px;
    color: #888;
    border: 0px;
    box-shadow: none;
    display: block;
    margin: 0px auto 15px auto;
    padding: 0px 15px;
    border-radius: 5px;
}
.hide {
    display: none !important;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*** CONTAINERS ***/
.container {
    width: 100%;
    max-width: 1200px;
    display: block;
    padding: 0px 30px;
    margin: 0px auto;

    &.container-full {
        width: 100%;
        max-width: 100%;
    }
}


/*** LOADING ***/
.loading {
    display: block;
    margin: 0px auto;
    text-align: center;
}