.notification {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    cursor: pointer;

    .notification-wrap {
        text-align: right;

        p {
            font-size: 12px;
            padding: 20px 20px;
            margin: 0px 0px 15px 0px;
            background: #2ecc71;
            color: #FFF;
            display: inline-block;
            transition: all 0.3s ease;
            
            &:hover {
                opacity: 0.8;
            }

            img {
                vertical-align: middle;
                padding-right: 7px;
            }
        }
    }
}