.notification {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
    
    p {
        font-size: 12px;
        padding: 20px 20px;
        margin: 0px 0px 15px 0px;
        background: #2ecc71;
        color: #FFF;

        img {
            vertical-align: middle;
            padding-right: 5px;
        }
    }
}