.products {
    padding: 0px 0px;

    h1 {
        text-align: center;
        margin-bottom: 50px;
    }
    
    .container {
        padding: 0px;
    }

    .products-list {
        display: flex;
        flex-wrap: wrap;

        .product {
            flex: 0 0 33.33%;
            transition: all 0.3s ease;
            padding: 15px;
            font-size: 0px;

            @media all and (max-width: 1024px)
            {
                flex: 0 0 50%;
            }
            @media all and (max-width: 767px)
            {
                flex: 0 0 100%;
            }

            img {
                height: 300px;
                width: 100%;
                object-fit: cover;
            }

            .details {
                padding: 15px;
                display: flex;
                justify-content: center;
                align-items: center;

                .title {
                    flex: 0 0 70%;

                    h2 {
                        font-weight: 300;
                        font-size: 20px;
                        margin: 0px;
                    }
                }
                .pricing {
                    flex: 0 0 30%;
                    border-left: 1px dashed #ccc;
                    text-align: center;

                    .price {
                        display: block;
                        font-size: 14px;
                        text-decoration: line-through;
                    }
                    .saleprice {
                        display: block;
                        font-size: 20px;
                        font-weight: bold;
                        color: #27ae60;
                    }
                }
            }
        }
    }
}