.product-details {
    display: flex;
    width: 1200px;
    max-width: 100%;
    margin: 0px auto;
    padding: 30px 15px;

    @media all and (max-width: $breakpoint-mobile) {
        flex-wrap: wrap;
    }

    .img {
        flex: 0 0 40%;

        @media all and (max-width: $breakpoint-mobile) {
            flex: 0 0 100%;
            margin-top: 30px;
        }

        img {
            width: 100%;
        }
    }
    .details {
        flex: 1 0 60%;
        padding: 30px;

        @media all and (max-width: $breakpoint-mobile) {
            flex: 0 0 100%;
            padding: 0px 0px 0px 0px;
        }

        h1 {
            color: #333;
            font-weight: bold;
            margin-bottom: 15px;
        }
        
        p {
            font-size: 18px;
            line-height: 1.5;
            width: 480px;
            max-width: 100%;
            
            @media all and (max-width: $breakpoint-mobile) {
                width: 100%;
            }
        }

        .add-to-cart {
            max-width: 425px;

            .column {
                @media all and (max-width: $breakpoint-mobile) {
                    flex: 0 0 50%;
                }
            }
        }

        .pricing {
            .price {
                font-size: 32px;
                display: inline-block;
            }
        }
    }
}