.products {
    padding: 0px 0px;

    h1 {
        text-align: center;
        margin-bottom: 50px;
    }
    
    .container {
        padding: 0px 15px;
        max-width: 100%;
    }

    .products-list {
        display: flex;
        flex-wrap: wrap;

        .product {
            flex: 0 0 25%;
            transition: all 0.3s ease;
            padding: 15px;
            font-size: 0px;

            @media all and (max-width: 1300px)
            {
                flex: 0 0 33.33%;
            }

            @media all and (max-width: 1024px)
            {
                flex: 0 0 50%;
            }
            @media all and (max-width: 767px)
            {
                flex: 0 0 100%;
            }

            img {
                width: 100%;
            }

            .details {
                padding: 15px;
                display: flex;
                justify-content: center;
                align-items: center;

                .title {
                    flex: 0 0 70%;

                    h2 {
                        font-weight: 300;
                        font-size: 20px;
                        margin: 0px;
                    }
                }
                .pricing {
                    flex: 0 0 30%;
                    border-left: 1px dashed #ccc;
                    text-align: center;

                    .price {
                        display: block;
                        font-size: 20px;
                        font-weight: bold;
                        padding: 10px 0px;
                    }
                    /*.price {
                        display: block;
                        font-size: 14px;
                        text-decoration: line-through;
                    }
                    .saleprice {
                        display: block;
                        font-size: 20px;
                        font-weight: bold;
                        color: #27ae60;
                    }*/
                }
            }
        }
    }
}

.loading-product {
    .image {
        height: 300px;
        width: 100%;
        background: $theme-loading-color;
        animation: FadeElements 1.5s infinite;
    }
    .detail {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;

        .title {
            flex: 0 0 70%;

            .tit {
                background: $theme-loading-color;
                animation: FadeElements 1.5s infinite;
                height: 20px;
                width: 80%;
            }
        }
        .pricing {
            flex: 0 0 30%;

            .price {
                background: $theme-loading-color;
                animation: FadeElements 1.5s infinite;
                margin-top: 5px;
                margin-bottom: 5px;
                height: 20px;
                width: 100%;
            }
        }
    }
    .stocking {
        display: flex;
        align-items: center;
        justify-content: center;

        .stock {
            flex: 0 0 47%;
            margin: 5px 3%;
            background: $theme-loading-color;
            animation: FadeElements 1.5s infinite;
            height: 50px;
            width: 100%;
        }
    }
}

@keyframes FadeElements {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}