.product-details {
    display: flex;
    width: 1200px;
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 15px;

    @media all and (max-width: $breakpoint-mobile) {
        flex-wrap: wrap;
    }

    .img {
        flex: 0 0 50%;

        @media all and (max-width: $breakpoint-mobile) {
            flex: 0 0 100%;
        }

        img {
            width: 100%;
        }
    }
    .details {
        flex: 0 0 50%;
        padding: 30px;

        @media all and (max-width: $breakpoint-mobile) {
            flex: 0 0 100%;
            padding: 30px 0px 0px 0px;
        }

        h1 {
            color: #333;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .pricing {
            .price {
                font-size: 18px;
                text-decoration: line-through;
                display: inline-block;
            }
            .saleprice {
                font-size: 24px;
                display: inline-block;
                margin-right: 15px;
            }
        }
    }
}